[submodule "texmf/tex/latex/local"]
	path = texmf/tex/latex/local
	url = git@github.com:typesAreSpaces/PersonalLatexMacros.git
[submodule ".emacs.d"]
	path = .emacs.d
	url = https://github.com/plexus/chemacs2
[submodule ".config/emacs"]
	path = .config/emacs
	url = https://github.com/doomemacs/doomemacs
[submodule ".config/spacemacs"]
	path = .config/spacemacs
	url = https://github.com/syl20bnr/spacemacs
[submodule ".config/prelude"]
	path = .config/prelude
	url = https://github.com/bbatsov/prelude.git
[submodule ".config/jose-emacs"]
	path = .config/jose-emacs
	url = git@github.com:typesAreSpaces/.emacs.d.git
