[user]
	email = jabelcastellanosjoo@unm.edu
	name = Jose Abel Castellanos Joo
[lfs]
  batch = false
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[init]
	defaultBranch = main
[core]
	excludesfile = /home/jose/.gitignore_global
[pull]
	rebase = false
[push]
	default = simple
